.mainContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 64px;
  padding-bottom: 20px;
  background-color: rgb(186, 38, 122);
  color: white;
}

.dataContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 600px;
}

.header {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
}

.bio {
  text-align: center;
  color: gray;
  margin-top: 16px;
  color: white;
}

.waveButton {
  cursor: pointer;
  margin-top: 16px;
  padding: 8px;
  border: 0;
  border-radius: 5px;
  background-color: rgb(112, 41, 83);
  color: white;
  
}

.text {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: solid rgb(112, 41, 83);
  border-radius: 8px;
}
.sumbtn {
  
  cursor: pointer;
 
  display: flex;
  justify-content: center;
  border: 0;
  border-radius: 3px;
  background-color: rgb(112, 41, 83);
  color: white;
  font-size: medium;
  font-family: 'Times New Roman', Times, serif;

  
}